body{
    margin: 0;
    padding: 0;
    background-image: url('painting-mountain-lake-with-mountain-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.main_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.left_main{
    display: flex;
    align-items: center;
    min-height: 35px;
    background: #fff;
    border:1px solid #dfe1e5;
    width: 580px;
    border-radius: 25px;
    padding:5px 8px;
}

.search_input
{
    width:200px
}